/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
span.info { color: #1E728C; }
header { border-bottom: 1px dashed #ccc; margin-bottom: 10px; padding-bottom: 15px; }
header .login-form-small { padding-top: 35px; }
header .login-form-small .button.medium { height: 32px; padding-top: 8px; }
div.content { margin: 35px 0; }
.social-login { margin: 15px; }
footer { border-top: 1px dashed #ccc; text-align: center; padding: 35px 0; }

.hidden { display: none !important; }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


