/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
header { border-bottom: 1px dashed #ccc; margin-bottom: 10px; }
header .login-form-small { padding-top: 35px; }
header .login-form-small .login-btn { padding-top: 17px !important;}
div.content { margin: 35px 0; }
footer { border-top: 1px dashed #ccc; text-align: center; padding: 35px 0; }

.hidden { display: none !important; }

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


