{% extends "base_template.html" %}

{% load user_page_tags %}

{% block title %}Page builder{% endblock %}

{% block content %}
	<div class="row">
	    <div class="eleven centered columns" id="builder_view">
	    	<h4>Page builder - <a href="{% get_setting page 'site_url' %}" target="_blank">{% get_element page 'site_name' %}</a></h4>
            <hr>

	        <div class="row">
	            <div clmass="twelve columns">
	                <ul class="breadcrumbs" id="builder_menu">
	                    <li> <a href="{% url landing-page page_id %}" id="landing-page" class="current"> Landing page </a> </li>
	                    <li> <a href="{% url sharing-page page_id %}" id="sharing-page"> Sharing page </a> </li>
	                    <li> <a href="{% url confirm-email page_id %}" id="confirm-email"> Confirmation email </a> </li>
	                    <li> <a href="{% url site-settings page_id %}" id="site-settings"> Settings </a> </li>
	                    <li> <a href="{% url review-page page_id %}" id="review-page"> Review </a> </li>
	                </ul>
	            </div>
	        </div>

	        <div class="row" id="builder_content">
	        	{{ builder_content }}
	        </div>
	    </div>
	</div>
{% endblock %}

{% block css %}
	<link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		var builderRouter;
		$(function() {
			builderRouter = new BuilderRouter();
			var builderView = new BuilderView();
			Backbone.history.start({pushState: true});
		});

		(function (window, undefined) {

            if (window.Aloha === undefined || window.Aloha === null) {
                var Aloha = window.Aloha = {};
            }

			Aloha.settings = {
				plugins: {
					format: {
						config: [  'b', 'i', 'sub', 'sup', 'h3', 'h4', 'h5' ],
						editables: {
							'h2.title': [ 'b', 'i', 'sub', 'sup', 'h2' ],
							'h5.sub': [ 'b', 'i', 'sub', 'sup', 'h5' ]
						}
					}
				}
			};
        })(window);

	</script>

	<script src="{{ STATIC_URL }}javascripts/aloha-full.min.js"
	                   data-aloha-plugins="common/ui,
	                                        common/format,
	                                        common/highlighteditables">
	</script>
{% endblock %}