<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} Home page {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" src="{{ STATIC_URL }}stylesheets/foundation.min.css" />
        <link type="text/css" rel="stylesheet" src="{{ STATIC_URL }}stylesheets/app.css" />
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <footer>
            {% block footer %} project starter | django dash 2012 {% endblock %}
        </footer>
    </body>
</html>