<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>
            Project Starter - {% block title %} Home page {% endblock %}
        </title>
        {% load compress %}

        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/foundation.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/auth-buttons.css" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/app.css" />
        {% endcompress %}
    </head>
    <body>
        <header>
            <div class="row">
                <div class="seven columns">
                    <h2>Project Starter</h2>
                    <h5 class="subheader">Start new project in seconds right now</h5>
                </div>
                <div class="five columns login-form-small">
                    {% if not user.is_authenticated %}
                    <form action="{% url sign-in %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                           <div class="five columns">
                                <input type="text" name="email" placeholder="Email" />
                           </div>
                            <div class="four columns">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="three columns">
                                <input type="submit" name="signin" value="Sign in" class="medium button with radius" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <span class="info">You can also</span>
                                <a href="{% url sign-in-special 'github' %}" class="btn-auth btn-github">Sign in with <strong>GitHub</strong></a>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <p>
                        {% if user.get_full_name %}
                            Welcome
                            {{ user.get_full_name }}
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                         | <a href="{% url logout %}" class="tiny secondary button">Logout</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </header>
        <div class="row">
            <div class="twelve columns">
                <ul class="breadcrumbs">
                    <li> <a href="{% url home %}" class="current"> Home </a> </li>
                    {% if not user.is_authenticated %}
                    <li> <a href="{% url sign-up %}"> Sign up </a> </li>
                    {% else %}
                    <li> <a href="{% url dashboard %}">Dashboard</a> </li>
                    <li> <a href="{% url page_create %}"> Create a page </a> </li>
                    <li> <a href="{% url page_all %}"> Your pages </a> </li>
                    <li> <a href="{% url logout %}" class="to-right"> Logout </a> </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            {% block footer %} project starter | django dash 2012 {% endblock %}
        </footer>
    </body>
</html>