{% extends "base_template.html" %}

        {% block content %}
        <div class="row">
            <div class="eleven centered columns">
                <div class="four columns">
                    <dl class="nice vertical tabs">
                        <dd class="active"><a href="#"> My pages </a></dd>
                        <dd> <a href="#">Subscribers</a> </dd>
                        <dd> <a href="#">Profile</a> </dd>
                    </dl>
                </div>
                <div class="eight columns">
                    <img src="http://placehold.it/1500x1000?text=Some data here..." />
                </div>
            </div>
        </div>
        {% endblock %}