{% extends "base+template.html" %}

        {% block title %} Lost password {% endblock %}

        {% block content %}
            <div class="row">
                <div class="five centered columns">
                    <form action="#" method="POST">
                        <p> Please enter you email address and we'll send you a new password there (almost) immediately. </p>
                        <label for="user-email">Your email</label>
                        <input type="text" name="user_email" id="user-email" />
                        <div class="controls">
                            <input type="submit" name="submit" value="Send" /> or <a href="{% url sign-in %}">Sign in</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}