{% extends "base_template.html" %}

        {% block title %} Lost password {% endblock %}

        {% block content %}
            <div class="row">
                <div class="five centered columns">
                    <h3>Lost password</h3>
                    <hr />
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <h6 class="subheader"> Please enter you email address and we'll send you a new password there (almost) immediately. </h6>
                        <label for="user-email">Your email</label>
                        <input type="text" name="email" id="user-email" />
                        <div class="controls">
                            <input type="submit" name="submit" value="Send" class="small primary button with radius" /> or <a href="{% url sign-in %}">Sign in</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}