{% extends "base_template.html" %}

        {% block title %} Sign up {% endblock %}

        {% block content %}
        <div class="row">
            <div class="five centered columns">
                <h3>Sign up</h3>
                <hr />
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    {% include "form_partial.html" %}

                    <input type="submit" class="medium primary button with radius" value="Sign up" />
                </form>
            </div>
        </div>
        {% endblock %}