{% extends "base_template.html" %}

        {% block title %} Sign in template {% endblock %}

        {% block content %}
        <div class="row">
            <div class="five centered columns">
                <h3>Sign in</h3>
                <hr />
                <form action="" method="POST">
                    {% include "form_partial.html" %}
                    <p> <a href="{% url lost-password %}">Lost password?</a> </p>

                    <input type="submit" name="submit" value="Sign in" class="medium success button with radius" /> or <a href="#" class="btn-auth btn-github">Use your <strong>GitHub</strong> account</a>

                </form>
            </div>
        </div>
        {% endblock %}