{% load user_page_tags %}

<div class="page-layout coming-soon" style="width: 100%; min-height: 600px; border-radius: 3px;">
	<div class="box-element">
		<h2 id="comingsoontitle_1_{{ page.id }}" class="title editable">{% get_element page 'site_name' %}</h2>
		<h5 id="comingsoonsubtitle_2_{{ page.id }}" class="sub editable">{% get_element page 'site_slogan' %}</h5>
		<hr>
		<div class="elements">
			{% get_elements page as elements %}
			{% for element in elements %}
				<div id="comingsoonelement_{{ element.position }}_{{ page.id }}" class="custom editable" style="margin-bottom: 5px;">
					{{ element.content|safe }}
				</div>
			{% endfor %}
		</div>
		<div id="comingsoonelement_0_{{ page.id }}" class="editable" style="color: #ccc;">Click here to add an element</div>
	</div>
</div>

{% block css %}
	<style type="text/css">
		.page-layout {
			background: {% get_template_data page 'background' %};
			color: {% get_template_data page 'text_color' %};
		}

		.page-layout .box-element {
			background: {% get_template_data page 'box_background' %};
		}

		{% get_template_data page 'css' %}
	</style>
{% endblock %}